* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #0d0d0d;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #0d0d0d;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.logo h1 {
  color: #ff2d2d;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a.active,
nav a:hover {
  color: #ff2d2d;
}

.hero {
  flex: 1;
  position: relative;
  background-image: url("nightrank.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 13, 13, 0.076);
  z-index: 1;
}

.hero-content {
  max-width: 700px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.hero-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero-content p {
  margin-bottom: 2rem;
  color: #ccc;
}

.buttons .btn {
  margin-right: 1rem;
}

.btn {
  display: inline-block;
  background-color: #ff2d2d;
  color: white;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #e62b2b;
}

.info-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem 2rem;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.info-block h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info-block p {
  color: #ccc;
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

footer {
  background-color: #0a0a0a;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

footer p {
  color: #666;
}

footer .socials img {
  height: 24px;
  margin-left: 1rem;
  filter: invert(1);
}
